body{
    text-justify:center;
    text-shadow: rgb(160, 154, 154) 10px 3px 10px;
    font-family: 'Crimson Pro', serif;
    background-color: rgb(202, 224, 168);
}
.lista1 {
    background-color: rgb(123, 207, 135);
    padding: 1rem;
}
.lista2 {
    background-color: rgb(233, 231, 94);
    padding: 1.1rem;

}

